html {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    padding: 0;
    margin: 0;
    background-color: pink;
}
.clear {
    clear: both;
}
#header {
    height: 50px;
    background-color: rgb(178, 39, 62);
    /* display in center */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    /* position: fixed; */
    position: fixed;
    top: 0;
    width: 100%;
}
#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-color: rgb(172, 19, 44);
}
#body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: rgb(172, 19, 44);
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: auto;
    padding-top: 60px;
}
#navigation {
    display:inline-block;
}
#navigation, .subnav {
    list-style: none;
}
#navigation li {
    z-index: 999;
    display: inline-block;
    position: relative;
}
#navigation > li > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
} 
#navigation li a {
    display: inline-block;
    line-height: 50px;
    padding: 0 24px;
    text-decoration: none;
}
#navigation li:hover .subnav {
    display: block;
}
#navigation .subnav li:hover a,
#navigation > li:hover > a {
    color: black;
    background-color:  rgb(210, 72, 95);
}
#navigation .subnav {
    display: none;  /* hide subnav */
    min-width: 137px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    padding: 0;
    background-color: antiquewhite;
}
#navigation .subnav a {
    display: block;
    line-height: 40px;
    padding: 0 24px;
    width: 100%;
    color: black;
}
#gallery {
    position: relative;
    height: 450px;
    padding: 20px;
    background-color: rgb(210, 72, 95);
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 10px;
    justify-content: center; /* center the grid */
    margin: auto;
}
.gallery-item1:hover, .gallery-item2:hover, .gallery-item3:hover, .gallery-item4:hover, .gallery-item5:hover, .gallery-item6:hover, .gl1:hover, .gl2:hover, .gl3:hover {
    opacity: 0.5;
    transform: scale(1.1);
}
.gallery-item1 {
    grid-column: 3/ 3;
}
.gallery-item2 {
    grid-column: 4/ 4;
}
.gallery-item3 {
    grid-column: 5/ 5;
}
.gallery-item4 {
    grid-column: 3/ 3;
    grid-row: 2 ;
}
.gallery-item5 {
    grid-column: 4/ 4;
    grid-row: 2 ;
}
.gallery-item6 {
    grid-column: 5/ 5;
    grid-row: 2 ;
}
.gallery-1 {
    width: 100vw;
    height: 620px;
    padding: 20px;
    background-color: rgb(210, 72, 95);
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
    margin: auto;
}
.gl1 {
    /* start/end of the grid */
    grid-column: 1/2; grid-row: 1/2;
}
.gl2 {
    grid-column: 6/6; grid-row: 1;
}
.gl3 {
    grid-column: 6; grid-row: 2;
}
.footer {
    height: 50px;
    background-color: rgb(178, 39, 62);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
ul#countdown {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    margin: 0 auto;
    padding: 15px 0 20px 0;
    color: #fff;
    border: 1px solid #adafb2;
    border-width: 1px 0;
    overflow: hidden;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
ul#countdown li {
      margin: 0 -3px 0 0;
      padding: 0;
      display: inline-block;
      width: 25%;
      font-size: 72px;
      font-size: 6vw;
      text-align: center;
    }
    ul#countdown li .label {
        color: #adafb2;
        font-size: 18px;
        font-size: 1.5vw;
        text-transform: uppercase;
      }
#information {
    position: relative;
    height: 200px;
    background-color: rgb(178, 39, 62);
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(1, 200px);
    grid-gap: 10px;
    margin: auto;
    align-items: center;
    justify-content: center; /* center the grid */
}
#information .huy, #information .uyen {
    padding-left:10px   ;
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    min-width: 100px;
}
.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
  }
  .heart:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }
  #header .login {  
    display: block;
    float: right;
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
    line-height: 50px;
  }
    #header .login:hover {
    color: black;
    cursor: pointer;
    }
    #header .login a {
        text-decoration: none;  
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
#slider {
    position: relative;
    padding-top: 50%;
    background: url("https://i.pinimg.com/originals/76/31/61/7631615ffece7d31602021ea3615c3d7.gif") no-repeat top center/cover;;   
}
/* make img full background  */
#slider .text-content {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
}